/* Селекторы, их ранги:
- Универссальный *
- Тег p
- клас .header-link
- Атрибута [href]
- ID #text
- Дети .header > a
- Потомки .header a
- сосед .header+a
- все соседи ниже .header~.header
- .header.link - именно один класс с родителя
----------------------------------------------------*/
/*НАША палитра:
- основной цвет #212121
- вторичный цвет #757575
- вторичный цвет фона белый #F5F4FA
- вторичный цвет фона черный #2F303A
- белый #FFFFFF
- бекграунд акцент #2196F3 */

:root {
  --main-text-color: #212121;
  --link-hover-color: #2196f3;
  --bgc-main-color: #ffffff;
  --bcg-secondary-color: #2f303a;
  --secondary-text-clor: #757575;
  --text-color-white: #ffffff;
  --work-border-color: 1px solid #eeeeee;
  --header-border: 1px solid #ececec;
}
/* ------------------------Общие селекторы - Утилиты */
html {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  font-weight: 400;
  background-color: var(--bgc-main-color);
  color: var(--main-text-color);
  margin: 0 auto;
  max-width: 1600px;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
header {
  background-color: var(--bgc-main-color);
  height: 80px;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* ____________________КОНТЕЙНЕР_________________ */
.conteiner {
  margin: 0 auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
  outline: 2px solid tomato;
}

/*----------------------------Логотипа */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  display: inline-block;
  margin-right: 90px;
}
.textlogo-black {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  margin: 0px;
}
.logo:focus {
  color: var(--link-hover-color);
}

/*---------------------- Список навигации сайта */
header .conteiner {
  display: flex;
}
header {
  border-bottom: var(--header-border);
}
.nav-conteiner {
  display: flex;
  align-items: center;
}
.site-nav .nav-link,
.contacts-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}
.nav-link {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
}
.site-nav {
  display: flex;
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}
.contact-list {
  display: flex;
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: auto;
}
.contact-list .item:not(:last-child) {
  margin-right: 50px;
}
.contacts-link {
  color: var(--secondary-text-clor);
}
.site-nav .nav-link:hover,
.site-nav .nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: var(--link-hover-color);
}
.site-nav .nav-link.current {
  color: var(--link-hover-color);
}

/*--------------------------Main Блок Герой */
.hero {
  background-color: var(--bcg-secondary-color);
  text-align: center;
  margin: 0 auto;
  align-items: center;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-color-white);
  margin-bottom: 10px;
  padding-top: 200px;
}
.hero-btn {
  display: inline-block;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  background-color: #2196f3;
  color: var(--text-color-white);
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  text-align: center;
  border: 1px solid transparent;
  margin-bottom: 200px;
}
/*---------------------- Секция "Чем мы занимаемся?*/
.about {
  background-color: var(--bgc-main-color);
  color: var(--main-text-color);
}
.about-list {
  display: flex;
  align-items: center;
}
.about-list .about-item:not(:last-child) {
  margin-right: 30px;
}
.about-item {
  width: 270px;
}

.about-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.about-title + p {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-clor);
}
.subtitle-about {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 95px;
  margin-bottom: 50px;
  margin-right: auto;
  margin-left: auto;
}
.pic-list {
  display: flex;
  align-items: center;
}
.pic-list .pic-item:not(:last-child) {
  margin-right: 30px;
}
.pic-item {
  width: 370px;
}
/*--------------------------Секция Команда */
.team {
  background-color: #f5f4fa;
  color: var(--main-text-color);
}
.team .conteiner {
  align-items: center;
}
.team-title {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
}
.team-list {
  display: flex;
}
.team-item {
  width: 380px;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-list .team-item:not(:last-child) {
  margin-right: 30px;
}
.name,
.name + p {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
.name {
  margin-top: 30px;
  margin-bottom: 10px;
}
.name + p {
  color: var(--secondary-text-clor);
  margin-bottom: 30px;
}
/*---------------------Футер--------------------- */
.textlogo-white {
  color: #ffffff;
}
.footer {
  background-color: var(--bcg-secondary-color);
  color: var(--bgc-main-color);
  text-decoration: none;
}
.footer-logo {
  display: inline-block;
  padding-top: 60px;
  padding-bottom: 20px;
  margin-right: auto;
}
.footer-adress {
  margin-bottom: 60px;
  margin-right: auto;
}
.footer-list a {
  text-decoration: none;
  font-family: 'Roboto';
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color-white);
}

.footer-list .footer-link {
  color: rgba(255, 255, 255, 0.6);
}
.footer-link:hover,
.footer-link:focus,
.link-adress:hover {
  color: var(--link-hover-color);
}
.footer .conteiner {
  display: flex;
  flex-direction: column;
}

/* ----------------portfolio.html--------------- */
.work {
  font-family: 'Roboto', sans-serif;
  background-color: var(--bgc-main-color);
  color: var(--main-text-color);
}

.filter-list {
  display: flex;
  justify-content: center;

  margin-bottom: 35px;
}
.filter-list .filter-item:not(:last-child) {
  margin-right: 8px;
}
.filter-item {
  align-items: center;
}
.filter-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  background: #f5f4fa;
  border-radius: 4px;
  border: none;
}
.filter-btn:focus,
.filter-btn:hover {
  background-color: var(--link-hover-color);
  color: var(--bgc-main-color);
}
.work-list {
  display: flex;
  flex-wrap: wrap;
}
.work-item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}
.work-item:nth-child(3n) {
  margin-right: 0px;
}
.work-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
.work-link:hover,
.work-link:focus {
  color: var(--link-hover-color);
}
.work-pre-title {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding-left: 24px;
  padding-right: 24px;
  margin-bottom: 4px;
}
.work-text {
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-text-clor);
  padding-left: 24px;
  padding-right: 24px;
  margin-bottom: 20px;
}
.work-img {
  margin-bottom: 20px;
}
.work-border {
  border-right: var(--work-border-color);
  border-left: var(--work-border-color);
  border-bottom: var(--work-border-color);
}
